# Supabase 配置
VITE_SUPABASE_URL=https://zwbshoolhacvsfngohzy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp3YnNob29saGFjdnNmbmdvaHp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMxOTY4OTUsImV4cCI6MjA3ODc3Mjg5NX0.6wBXqizfaX6GYTnaZ3C66RpGvzlUAql3jEzXUeo9MUQ
